body {
    background-color: rgb(151, 142, 142);
    margin: 15px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 5px;
    color: rgb(54, 32, 32);
    font-size: 40px;
    user-select: none;  
}
button {
    border: 2px solid black;
    margin: 5px 0 10px 0;
}
button:hover {
    cursor: pointer;
    background-color: rgb(159, 154, 154);
}

.game-arena {
    position: relative;
    height: 350px;
    width: 800px;
    padding: 15px;
    background-color: #53ad51;
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    /* align-content: center; */
    align-items: center;
    user-select: none;
}

p {
    height: 20px;
    width: 168px;
    text-align: center;
    resize: none;
    border: 2px solid black;
    user-select: none;
    background-color: #ffffff;
    margin-bottom: 5px;
}
.text {
    display: flex;
    justify-content: center;
    /* align-content: center; */
    align-items: center;

    background-color: #ffffff;
    border: 2px solid black;
    height: 30px;
    width: 150px;
    margin-top: 15px;
    user-select: none;
}

.player1-area {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.player1-hand {
    margin-top: 2px;
    height: 262.5px;
    width: 170px;
    border: 2px solid black;
    border-radius: .5rem;
    user-select: none;
}
.player1-hand img {
    height: 100%;
    width: 100%;
    border-radius: .5rem;
}
.player1-card-slot{
    position: absolute;
    left: 200px;
    top: 47px;
}

.player2-area {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.player2-hand {
    margin-top: 2px;
    height: 262.5px;
    width: 170px;
    border: 2px solid black;
    border-radius: .5rem;
    user-select: none;
}
.player2-hand img {
    height: 100%;
    width: 100%;
    border-radius: .5rem;
}
.player2-card-slot{
    position: absolute;
    right: 200px;
    top:47px;
}

.player1-deck, .player2-deck {
    margin: 8px 0 0 0;
    height: 20px;
    width: 100px;
    text-align: center;
    background-color: #ffffff;
    border: 2px solid black;
    user-select: none;
}


.card {
    position: relative;
    height: 262.5px;
    width: 170px;
    border: 2px solid black;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    background-color: white;
    user-select: none;
 }
 
 .card::before, .card::after {
    position: absolute;
    content: attr(data-value);
    font-size: 2rem;
 }
 
 .card::before {
    top: .5rem;
    left: .5rem;
 }
 
 .card::after {
    bottom: .5rem;
    right: .5rem;
    transform: rotate(180deg);
 }
 .card.red {
    color: rgb(233, 12, 12);
 }
 .card.black {
    color: rgb(0, 0, 0);
 }